body {
  display: flex;
  min-height: 100vh;
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  flex-direction: column;
}

header {
  margin-left: 100px;
  margin-top: 20px;
  margin-bottom: 50px;
  color: white;
}

nav > * {
  margin-right: 5px;
  padding: 5px;
  color: white;
  font-size: medium;
  font-family: 'Courier New', Courier, monospace;
  border: #ffffff solid 1px;
  text-decoration: none;
}

nav > *:hover {
  color: #282c34;
  background-color: white;
}

.content-box {
  width: 50%;
  margin: 0 auto;
  display: flex; /* flexbox 사용 */
  flex-direction: column; /* 세로 방향 정렬 */
  justify-content: center; /* 세로 방향 중앙 정렬 (선택 사항) */
  align-items: center; /* 가로 방향 중앙 정렬 (선택 사항) */
  border: #ffffff solid 1px;
  padding: 50px;
  border-radius: 10px;
}

/* content-box 내부 엘리먼트 스타일 (예시) */
.content-box > * {
  margin-bottom: 10px; /* 엘리먼트 간 간격 설정 (선택 사항) */
}


.error {
  color: white;
  font-size: small;
  font-family: 'Courier New', Courier, monospace;
}

input {
  color: wheat;
  width: 300px;
  height: 30px;
  font-size: large;
  font-family: 'Courier New', Courier, monospace;
  border-radius: 5px;
}

input:focus{
  border-color: #ffffff; /* 포커스 시 테두리 색상 변경 */
  outline: none; /* 기본 포커스 스타일 제거 (선택 사항) */
}

button {
  width: 300px;
  height: 30px;
  background-color: rgb(0, 0, 0);
  color: #ffffff;
  font-size: large;
  font-family: 'Courier New', Courier, monospace;
  border-radius: 10px;
}

button:hover {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  cursor: pointer
}

button:active{
  background-color: rgb(0, 0, 0);
  color: #ffffff;
}